html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

nav {
    background-color: #1E3A8A !important;
}
nav a {
        color: white !important;

}
.carousel-indicators{
    background-color:white;
}
    .carousel-indicators button {
        
    }
    .carousel-indicators [data-bs-target] {
        background-color: #1E3A8A !important;
        border-radius: 50%;
        width: 15px !important;
        height: 15px !important;
    }

.bottom {
    background-image: url('../imgs/huawei-watch-2-mwc-2017-best-smartwatches-wallpaper-preview.jpg');
    background-size: cover;
    background-position: center;
}
.layer{
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}